@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
$grune : #7fbb01;
$font : 'Roboto', sans-serif;
body {
 //background: url(../img/cd-background-10.jpg) no-repeat;
 background-attachment: fixed;
 background-size: cover;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-x: scroll;
  font-family: $font;
}
.navbar-brand{
  color: #696969;
  font-weight: 700;
  a{
    color: $grune;}
  &:hover{
    color: $grune;
  }
}
.btn-primary{
  margin: 40px auto;
  background: linear-gradient(176deg, rgba(2,0,36,1) 0%, rgba(127,187,1,1) 0%, rgba(100,100,100,1) 100%);
  border-color: transparent;
  font-weight: 700;
  transition: all 2s;
  display: table;
  &:hover{
    color: #696969;
    background: whitesmoke;
    transition: all 1s;
    border-color: $grune;
  }
}
.container{
  h3{
    text-align: center;
    margin: 0 auto;
    font-weight: 300;
  }
  .demo{
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
    font-size: 32px;
    color: $grune;
  }
}
.inp {
  position: relative;
  margin: auto;
  width: 100%;
}
.inp .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #07f;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 12px;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
}
.inp input:hover {
  background: rgba(34,50,84,0.03);
}
.inp input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus {
  background: none;
  outline: none;
}
.inp input:focus + span {
  color: #07f;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus + span + .border {
  transform: scaleX(1);
}
